<div class="mx-auto" style="width: 200px;">
    <img class="img-fluid rounded mx-auto d-block" src="https://www.pro-manchester.co.uk/wp-content/uploads/2021/06/Rupee-logo.png" />
</div><br/><br/>
<div class="text-center">
    <h1>Project Manager</h1><br/>
    <%= link_to "View Projects", projects_path, class:"btn btn-primary" %>
</div>
