<h1>Editing Project</h1>
<br>
<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show This Project", @project, class:"btn btn-primary" %> 
  <%= link_to "Back To Projects", projects_path, class:"btn btn-dark" %>
</div>
